
<div id="mentionable-data" data-content="<%= mentionable_user_path(current_user)%>"></div>
<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field" class="input-mentionable">
    <%= f.label :recipients %>
    <%= f.text_field :recipients, class: 'question-recipients input-mentionable' %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


  <%= javascript_tag do %>

  <% end %>
<% end %>
