  <div id="question-<%= question.id %>" class="w3-container w3-card-2 w3-white w3-round col-md-12 question">
    <br>
      <div class="initials-container w3-left w3-circle">
        <div class="initials"><%=
          if QuestionHelper.has_view_permission(question, current_user) and question.user
                question.user.initials
            else
              "Q"
            end
          %><br></div>
      </div>
    <span class="w3-right">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="material-icons q-menu">more_vert</i>
        </button>
        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
          <li>
            <a href="javaScript:void(0);" class="copy-link-button" data-clipboard-text="<%= question_url(question)%>">Copy Link</a>
          </li>
          <% if QuestionHelper.has_edit_permission(question, current_user) %>
              <li><%= link_to "Edit", edit_question_path(question) %></li>
              <li><%= link_to "Delete", question_path(question), method: :delete, class:'danger',
                              remote: true %></li>
              <% end %>
        </ul>
      </div>
    </span>
    <div class="content question-body">
      <h6 class="owner-name">
      <% if QuestionHelper.has_view_permission(question, current_user) and question.user %>
          <%= link_to user_path(question.user) do %>
              <%= question.user.full_name.titleize %>
          <% end %>
      <% end %>
      <span class="w3-opacity time-ago"> <%= time_ago_in_words(question.updated_at) %></span></h6>
      <p class="text"><%= simple_format(question.body) %></p>
    </div>
    <div class="row">

    <div class="pull-right">
    </div>
    <div class="comments-count">
      <a class="btn btn-primary show-comments-link" data-target="comments-section">
        <%= pluralize(question.comments.count, 'answer')%>
        <b class="caret"></b>
      </a>
    </div>
    </div>
    <div class="w3-margin-bottom comments-section <%= "slide-hide" unless show_full_question%>">
      <div class="comments">
        <%= render question.comments %>
      </div>
      <div id="question-<%= question.id %>-answer" class="comments-form">
        <%= render 'comments/form', commentable: question %>
      </div>
    </div>
  </div>
