  <div id="question-<%= question.id %>" class="w3-container w3-card-2 w3-white w3-round col-md-12 question">
    <br>
    <% unless question.headless %>
      <div class="initials-container w3-left w3-circle">
        <div class="initials"><%=
          unless question.headless
                question.user.initials
            else
              "HL"
            end
          %><br></div>
      </div>
    <% end %>
    <span class="w3-right w3-opacity">
      <i class="material-icons q-menu">more_vert</i>
    </span>
    <div class="content question-body">
      <h6 class="owner-name">
      <% unless question.headless %>
          <%= link_to user_path(question.user) do %>
              <%= question.user.full_name.titleize %>
          <% end %>
      <% end %>
      <span class="w3-opacity time-ago"> <%= time_ago_in_words(question.created_at) %></span></h6>

      <h8><% question.recipients.each do |recipient| %>
              <%= link_to "@#{recipient.username}", user_path(recipient)%>,
        <% end %></h8>
      <p class="text"><%= question.body %></p>
    </div>
    <div class="row">

    <div class="pull-right">
    </div>
    <div class="comments-count">
      <a class="btn btn-primary show-comments-link" data-target="comments-section">
        <%= question.comments.count %> answers
        <b class="caret"></b>
      </a>
    </div>
    </div>
    <div class="w3-margin-bottom comments-section slide-hide">
      <div class="comments">
        <%= render question.comments %>
      </div>
      <div class="comments-form">
        <%= render 'comments/form', commentable: question %>
      </div>
    </div>
  </div>
