<p id="notice"><%= notice %></p>
<div id="question-<%= @question.id %>" class="question">
    <div class="row">
        <%= render @question, remote: false %>
    </div>
    <div class="row">
      <div class="col-lg-9 col-lg-offset-2">
        <%= render 'comments/form', commentable: @question %>
        <div class="comments">
          <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
        </div>
      </div>
    </div>

</div>
