<div class="navbar navbar-white navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_url do %>
          <%= image_tag image_url('logo.png'), class: "logo" %>
      <% end %>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <% if user_signed_in? %>
            <%= render "shared/search_bar" %>
        <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li>
              <p class="navbar-btn">
                <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot&client_id=98676494787.112418744769"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
              </p>
            </li>
            <%= render "shared/notifications" %>
            <% if user_signed_in? %>
                <li id="user-button" class="dropdown">
                  <a id="user-link" href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown" >
                  <%= current_user.username %><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "My questions", questions_path %></li>
                    <li><%= link_to "User Settings", edit_user_registration_path %></li>
                    <li><%= link_to "Log out", users_sign_out_path, :method => :delete %></li>
                  </ul>
                </li>

            <% end %>
        <% else %>
            <li><%= link_to 'Log in', user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
