<%-# Have to hack together my own link_to implementation due to the way the file is rendered in activity_creator -%>
<% if activity.recipient %>
  <a href="/<%= activity.recipient.class.to_s.downcase%>s/<%= activity.recipient.id%>" >
      <div class="activity">
        <%= activity.owner.full_name.titleize if activity.owner %>
        <%= render_activity activity %>
      </div>
  </a>
<% else %>
    <a href="#" >
      <div class="activity">
        <%= activity.owner.full_name.titleize if activity.owner %>
        <%= render_activity activity %> which has since been deleted
      </div>
    </a>
<% end %>
