<li role="presentation" class="dropdown" id="notifications-button">
  <a id="notifications-link" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" data-userid="<%= current_user.id %>">
    Notifications <%= "(#{@fresh_activities.count})" if @fresh_activities.count > 0 %><span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% @fresh_activities.each do |activity| %>
        <li>NEW
          <%= render "shared/notification_helper", activity: activity %>
        </li>
    <% end %>
    <% if @other_activities %>
      <% @other_activities.each do |activity| %>
          <li>Old:
            <%= render "shared/notification_helper", activity: activity %>
          </li>
      <% end %>
    <% end %>
    <li><%= link_to "Show All Notifications", notifications_user_path(current_user) %></li>

  </ul>
</li>
