<li id="notifications-button" class="dropdown">
  <a id="notifications-link" href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown" data-userid="<%= current_user.id %>" >
    Notifications <span class="notifications-count">
      <%= "(#{@fresh_activities.count})" if @fresh_activities and @fresh_activities.count > 0 %>
      </span>
    <b class="caret"></b></a>
  <ul class="dropdown-menu notification-menu">
    <% @fresh_activities.each do |activity| %>
        <li>
          <%= render "shared/notification_helper", activity: activity %>
        </li>
    <% end %>
    <li class="divider"></li>
    <li class="dropdown-header">Older Notifications</li>
    <% if @other_activities %>
        <% @other_activities.each do |activity| %>
            <li>
              <%= render "shared/notification_helper", activity: activity %>
            </li>
        <% end %>
    <% end %>
    <li><%= link_to "Show All Notifications", notifications_user_path(current_user) %></li>
  </ul>
</li>
