<!DOCTYPE html>
<html>
<head>
  <title>Quiki <%= "(#{@fresh_activities.count})" if @fresh_activities and @fresh_activities.count > 0 %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%= render 'shared/navbar' %>
<% unless notice.blank? %>
    <div class="alert alert-info alert-dismissable alert-fixed">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
<% end %>

<% unless alert.blank? %>
    <%= render 'shared/alert', alert: alert %>
<% end %>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
